[submodule "themes/coder-portfolio"]
	path = themes/coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio
[submodule "themes/starter-hugo-academic"]
	path = themes/starter-hugo-academic
	url = https://github.com/wowchemy/wowchemy-hugo-themes
