<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  <hr />
{{ .Content }}

<h3>Current Labs</h3>

<h5>N/A</h5> 

<h3>Previous Labs</h3>

  <ul>
    {{ range where .Site.Pages "Params.series" "previous_course" }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>  

  <h3>Selected Lab Materials</h3>

  <ul>
    {{ range where .Site.Pages "Params.series" "course_material" }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>

</section>
 